.navigation-bar {
    width: 100%;
    height: 56px;
    background-color: var(--b);
    overflow: hidden;
    box-shadow: 0 0 10px 0 var(--a);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navigation-bar .content {
    height: 56px;
    max-width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-bar a {
    transition: all 0.3s linear;
    width: 30px;
    height: 30px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
}

.navigation-bar .active {
    transform: scale(1.3);
    text-shadow: 0 0 10px var(--a);
    box-shadow: 0 0 5px 1px var(--a),
        0 0 10px -1px var(--a) inset;
}