.comments-page h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.comments-page .data {
    margin-left: 60px;
}

.comments-page .video-comment a {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 5px;
    box-shadow: none;
}

.comments-page .video-comment img {
    width: 35px;
    height: 35px;
    object-fit: contain;
    border-radius: 17.5px;
}

.video-comments-section {
    max-height: calc(100dvh - 320px);
    overflow-y: auto;
}

.video-comments-section::-webkit-scrollbar {
    display: none;
}