.videos {
    height: calc(100dvh - 56px);
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    -webkit-overflow-scrolling: touch;
}

.videos::-webkit-scrollbar {
    display: none;
}