.profile-page {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.profile-page textarea {
    width: calc(100% - 35px);
    height: 110px;
    resize: none;
}

.profile-page .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.profile-page .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-page .header img,
.profile-page .header a {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: contain;
    cursor: pointer;
}

.profile-page .header img:nth-child(2) {
    transform: translateX(-60px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.profile-page .header img:nth-child(2):hover {
    opacity: 1;
}