.subscribe-btn.not-active {
    background-color: var(--b);
    color: var(--a);
}

.profile-navigation {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-navigation a {
    transition: all 0.3s ease-in-out;
    padding: 5px;
    border-radius: 5px;
}

.profile-navigation .active {
    background-color: var(--a);
    color: var(--b);
}

.profile-page .content {
    max-height: calc(100dvh - 240px);
    overflow-y: auto;
}

.profile-page .content::-webkit-scrollbar {
    display: none;
}