.search-form {
    display: flex;
    align-items: center;
    height: 50px;
}

.search-form input {
    height: 20px;
    padding: 10px;
}

.search-form button {
    height: 40px;
    padding: 10px;
    border: 2px solid var(--a);
}

.results {
    overflow-y: scroll;
    height: calc(100dvh - 190px);
    padding: 10px 0;
}

.results::-webkit-scrollbar {
    display: none;
}