.video-view {
    height: calc(100dvh - 56px);
    display: block;

    scroll-snap-align: center;
    position: relative;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    -webkit-overflow-scrolling: touch;

    display: flex;
}

.video-view::-webkit-scrollbar {
    display: none;
}

.video-view video {
    width: 100%;
    height: calc(100dvh - 56px);
}

.video-view .video-data {
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
    background-color: transparent;
}

.video-view .video-data a,
.video-view .video-data p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.video-view .video-data img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 25px;
}

.video-view>div {
    flex: 0 0 100%;
}

.video-view>div:nth-child(2) {
    flex: 0 0 95%;
}