.upload-page {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100dvh - 66px);
    overflow: hidden;
}

.upload-page img,
.upload-page video {
    max-height: calc(40dvh - 150px);
    object-fit: contain;
    border-radius: 5px
}